html {
    background-color: #000000;
    color: #ffffff;
}

a {
    color: #ffffff;
}

.top-content {

}
.mid-content {

}
.bottom-content {

}
.all-content {
    font-family: "Lucida Console", "Courier New", monospace;
}
